body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('media/background.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}


.trump_floor, .trump_wall{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.trump_floor {
  border: 10px solid blue;
}

.jump-message {
  position: fixed;
  top: 50%;
  left: 50%;

  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}

.add-dancer {
  
}





